<footer class="footer">
    <h1>Buy everything you need, even for your kids, it all meet your needs</h1>
    <div>
        <h1><a href="/About">About</a></h1>
        <h1><a>Copyrights</a></h1>
        <h1><a>Privacy</a></h1>
        <h1><a href="/Helps">Helps</a></h1>
    </div>
    <p>Copyright © 2023 . RMIT University . All Rights Reserved</p>
</footer>
<script src="/js/script"></script>
</body>
</html>