<footer class="footer">
    <h1>Buy everything you need, even for your kids, it all meet your needs</h1>
    <div>
        <h1>About</h1>
        <h1>Copyrights</h1>
        <h1>Privacy</h1>
        <h1>Helps</h1>
    </div>
    <p>Copyright © 2023 . RMIT University . All Rights Reserved</p>
</footer>
<script src="/js/script"
</body>
</html>