<header class="black">
    <nav class="text_container_container">
        <div class="header_text_container">
            <a href="/RegisterVendor">Become our vendor</a>
            <p>|</p>
            <a href="">Become our customer</a>
            <p>|</p>
            <a href="">Become our delivery boys</a>
        </div>
        <div class="header_text_container" id="log_and_sign_in">
            <a href="/LogIn">Log in</a>
            <p>|</p>
            <a href="">Sign in</a>
        </div>
    </nav>
    <nav id="logo_and_search_bar_container">
        <h1 class="header_logo"><a href="/">SIMPLE</a></h1>
        <div class="search_bar">
            <input placeholder="Search something here" type="text" >
            <button><img src="images/search_icon.png" alt="Find button"></button>
        </div>
        <a href=""><img src="images/shopping_cart.png" alt="Shopping cart"></a>
    </nav>
</header>