<%- include('partials/head') %>
<%- include('partials/header') %>
<main class="about_main">
    <section class="project_intro">
        <h1>GROUP 6 eCommerce Project</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, enim ullam a nostrum assumenda exercitationem pariatur excepturi quas labore odit voluptatum dolores facilis laudantium quae incidunt deleniti eos vitae ducimus.</p>
    </section>
    <section class="team_profile">
        <h1>TEAM PROFILE</h1>
        <div class="member_info_container">
            <div>
                <img src="images/Huy.jpg">
                <h2>Nguyen Huu Quoc Huy</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo perferendis eveniet culpa aliquam ab obcaecati, voluptate nesciunt sapiente libero laudantium amet illum sit quisquam provident unde similique suscipit et?</p>
        </div>
        <div class="member_info_container">
            <div>
                <img src="images/Kim.jpg">
                <h2>Nguyen Ngoc Kim</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo perferendis eveniet culpa aliquam ab obcaecati, voluptate nesciunt sapiente libero laudantium amet illum sit quisquam provident unde similique suscipit et?</p>
        </div>
        <div class="member_info_container">
            <div>
                <img src="images/Sung.jpg">
                <h2>Lee Jae Sung</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo perferendis eveniet culpa aliquam ab obcaecati, voluptate nesciunt sapiente libero laudantium amet illum sit quisquam provident unde similique suscipit et?</p>
        </div>
        <div class="member_info_container">
            <div>
                <img src="images/Thang.jpg">
                <h2>Vo Chau Thang</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo perferendis eveniet culpa aliquam ab obcaecati, voluptate nesciunt sapiente libero laudantium amet illum sit quisquam provident unde similique suscipit et?</p>
        </div>
        <div class="member_info_container">
            <div>
                <img src="images/Vu.jpg">
                <h2>Lam Uy Vu</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo perferendis eveniet culpa aliquam ab obcaecati, voluptate nesciunt sapiente libero laudantium amet illum sit quisquam provident unde similique suscipit et?</p>
        </div>
    </section>
</main>
<%- include('partials/footer') %>