<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque nesciunt mollitia consequuntur esse nobis, molestias excepturi exercitationem. Perspiciatis laboriosam, voluptates doloribus placeat quibusdam nihil, consequuntur, ipsum aliquam tempora beatae quod.</p>
</main>
<%- include('partials/footer') %>
